{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<form action="/buy" method="post">
  <div class="container-fluid p-3">
    <h4>Stock Ticker</h4>
    <input type="text" name="symbol" placeholder="Input a Stock Ticker"></input>
  </div>
  <div class="container-fluid p-3">
    <h4>Shares</h4>
    <input type="number" name="shares" placeholder="Input the amount of shares" step="1"></input>
  </div>
  <button type="submit">Submit</button>
</form>
{% endblock %}
